* 
  box-sizing: border-box

body 
  font-family: 'Muliregular', sans-serif
  color: $text-color
  background-color: $background
.container 
  max-width: 1110px
  margin: auto
img 
  max-width: 100%

button
  cursor: pointer