.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
  &-name
    font-size: 24px
    line-height: 30px
    margin-top: 5px
    margin-bottom: 0
    margin-right: 14px
    display: inline-block
.offer
  font-size: 10px
  line-height: 13px
  color: $light
  background-color: $primary
  padding: 4px 9px
  border-radius: 3px

